<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
   <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
   <meta http-equiv="Pragma" content="no-cache" />
   <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AK Attributes</title>
    <link href="/css/underwater-elements.css" rel="stylesheet" type="text/css">
    <link href="/css/attributes.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="/javascript/d3.min.js"></script>
    <script type="text/javascript" src="/33356323/profile.js"></script>
    <script type="text/javascript" src="/javascript/underwater.js"></script>
    <script type="text/javascript" src="/javascript/attributes.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</head>

<body class="load animate-load" profileid="33356323" onload="setAnimations()">
<div id="error-if-unless">
    <div id="page-content">
        <div id="background-wrap">
            <a href="/33356323/ship.html" id="nav" class="nav point">
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
                    <div class="t-nav"><img src="../img/up-small.png" alt="green and blue watercolor seaweed"></div>
            </a>
            <div id="bubble-list" class="bubble-list elements show-elements">
                <div id="bubble-daring" word="daring">
                </div>
                <div id="bubble-competent" word="competent">
                </div>
                <div id="bubble-intelligent" word="intelligent">
                </div>
                <div id="bubble-tenacious" word="tenacious">
                </div>
                <div id="bubble-innovative" word="innovative">
                </div>
                <div id="bubble-commanding" word="commanding">
                </div>
                <div id="bubble-confident" word="confident">
                </div>
                <div id="bubble-respectful" word="respectful">
                </div>
                <div id="bubble-encouraging" word="encouraging">
                </div>
                <div id="bubble-trustworthy" word="trustworthy">
                </div>
                <div id="bubble-different" word="different">
                </div>
            </div>
            <div id="adjective-list" class="adjective-list">
                <div id="daring" word="daring" definition="venturesomely bold in action or thought" fontsize="4.375" class="adjective">
                </div>
                <div id="competent" word="competent" definition="proper or rightly pertinent" fontsize="4.6875" class="adjective">
                </div>
                <div id="intelligent" word="intelligent" definition="having or indicating a high or satisfactory degree of intelligence and mental capacity" fontsize="5.4375" class="adjective">
                </div>
                <div id="tenacious" word="tenacious" definition="persistent in maintaining, adhering to, or seeking something valued or desired" fontsize="5.5" class="adjective">
                </div>
                <div id="innovative" word="innovative" definition="characterized by, tending to, or introducing innovations" fontsize="5.5" class="adjective">
                </div>
                <div id="commanding" word="commanding" definition="drawing attention or priority" fontsize="5.6875" class="adjective">
                </div>
                <div id="confident" word="confident" definition="having or showing assurance and self-reliance" fontsize="5.9375" class="adjective">
                </div>
                <div id="respectful" word="respectful" definition="marked by or showing respect or deference" fontsize="6.0" class="adjective">
                </div>
                <div id="encouraging" word="encouraging" definition="giving hope or promise" fontsize="6.125" class="adjective">
                </div>
                <div id="trustworthy" word="trustworthy" definition="worthy of confidence : dependable" fontsize="6.25" class="adjective">
                </div>
                <div id="different" word="different" definition="partly or totally unlike in nature, form, or quality" fontsize="6.25" class="adjective">
                </div>
            </div>
            <span id="elements" class="elements show-elements">
            <span id="seahorse-group" class="point" onclick="pokeGroup('seahorse')">
                <span id="seahorse-front" class="seahorse-group front sway element">
                    <img class="element" style="height:65vh;" src="../img/elements/seahorse-front.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="seahorse-back" class="seahorse-group back sway element">
                    <img class="element" style="height:65vh;" src="../img/elements/seahorse-back.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="seahorse-hidden" class="seahorse-group hidden element" style="padding-bottom: 175px;">
                    <img class="element" style="height:65vh;" src="../img/elements/seahorse-poke.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="seahorse" class="seahorse animal element">
                    <img class="element" style="height:25vh;" src="../img/elements/seahorse.png" alt="gold transparent seahorse">
                </span>
            </span>
            <span id="left-fish-group" class="point" onclick="pokeGroup('left-fish')">
                <span id="left-fish-front" class="left-fish-group front sway element">
                    <img class="element" style="height:95vh;" src="../img/elements/left-fish-front.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="left-fish-back" class="left-fish-group back sway element">
                    <img class="element" style="height:95vh;" src="../img/elements/left-fish-back.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="left-fish-hidden" class="left-fish-group hidden element">
                    <img class="element" style="height:95vh;" src="../img/elements/left-fish-poke.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="left-fish" class="left-fish animal element">
                    <img class="element" style="height:25vh;" src="../img/elements/fish2.png" alt="small green watercolor fish">
                </span>
            </span>
            <span id="goldfish-group" class="point" onclick="pokeGroup('goldfish')">
                <span id="goldfish-front" class="goldfish-group front sway element">
                    <img class="element" style="height:25vh;" src="../img/elements/goldfish-front.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="goldfish-back" class="goldfish-group back sway element">
                    <img class="element" style="height:25vh;" src="../img/elements/goldfish-back.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="goldfish-hidden" class="goldfish-group hidden element">
                    <img class="element" style="height:25vh;" src="../img/elements/goldfish-poke.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="goldfish" class="goldfish animal element">
                    <img class="element" style="height:15vh;" src="../img/elements/goldfish.png" alt="transparent gold angelfish">
                </span>
            </span>
            <span id="jellyfish-group" class="point" onclick="pokeGroup('jellyfish')">
                <span id="jellyfish-front" class="jellyfish-group front sway element">
                    <img class="element" style="height:25vh;" src="../img/elements/jellyfishcomposition.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="jellyfish" class="jellyfish animal element">
                    <img class="element" style="height:25vh;" src="../img/elements/jellyfish-left.png" alt="blue watercolor jellyfish">
                </span>
            </span>
            <span id="starfish-group" class="point" onclick="pokeGroup('starfish')">
                <span id="starfish-front" class="starfish-group front sway element">
                    <img class="element" style="height:35vh;" src="../img/elements/composition3.png" alt="green and blue watercolor seaweed">
                </span>
                <span id="starfish" class="starfish animal element">
                    <img class="element" style="height:35vh;" src="../img/elements/starfish.png" alt="blue purple pink watercolor starfish">
                </span>
            </span>
            <span id="seaweed">
                <img class="s1 element" src="../img/elements/seaweed.png" alt="blue green watercolor seaweed">
                <img class="s2 element" src="../img/elements/seaweed2.png" alt="blue green watercolor seaweed">
                <img class="s3 element" src="../img/elements/seaweed3.png" alt="blue green watercolor seaweed">
                <img class="s4 element" src="../img/elements/seaweed4.png" alt="blue green watercolor seaweed">
                <img class="s5 element" src="../img/elements/seaweed2.png" alt="blue green watercolor seaweed">
            </span>
        </span>
        </div>
    </div>
</div>

</body></html>
