<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credits</title>
    <link href="/css/credits.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="/javascript/credits.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
</head>
<body>
<div id="page-content" class="load animate-load">
    <div id="background-wrap" class="elements show-elements">
        <div id="credits" class="credits">
            <div class="heading">
                you've just viewed a prototype for a bias-minimized digital resume
                <div class="shout">
                    want to do tech differently?<br>
                    hire different<br>
                </div>
            </div>
            <div id="concept">
                <div class="sub-heading">Concept</div>
                <a href="mailto: ak@flaff.dev">
                    <span class="label">AK@flaff.dev</span>
                </a>
            </div>
            <div id="artists">
                <div class="sub-heading">Art</div>
                <a href="https://www.etsy.com/shop/DigitalArtsi">
                    <span class="label">DigitalArtsi</span>
                </a>
                <br>
                <a href="https://www.etsy.com/shop/MiracleArtandDesign">
                    <span class="label">MiracleArtandDesign</span>
                </a>
                <br>
                <a href="https://www.etsy.com/shop/FunArtStation">
                    <span class="label">FunArtStation</span>
                </a>
                <br>
                <a href="https://stock.adobe.com/contributor/202698061/bitter">
                    <span class="label">~Bitter~</span>
                </a>
                <br>
                <a href="https://stock.adobe.com/contributor/205885689/berdsigns">
                    <span class="label">BerdSigns</span>
                </a>
                <br>
                <a href="https://stock.adobe.com/contributor/203354281/tanialerro">
                    <span class="label">tanialerro</span>
                </a>
                <br>
                <a href="https://www.instagram.com/flaffdev">
                    <span class="label">AK Instagram</span>
                </a>
            </div>
            <div id="design">
                <div class="sub-heading">User Experience &amp; Design</div>
                <a href="mailto: ak@flaff.dev">
                    <span class="label">AK@flaff.dev</span>
                </a>
            </div>
            <div id="engineering">
                <div class="sub-heading">Engineering</div>
                <a href="mailto: ak@flaff.dev">
                    <span class="label">AK@flaff.dev</span>
                </a>
            </div>
        </div>
        <span id="beach">
            <div class="beach-trees-right">
                <img src="../img/credits/beach-trees-right.png" alt="group of green watercolor trees">
            </div>
            <span class="beach-back" alt="yellow sand beach with green and blue water">
                <img src="../img/credits/beach-back.png" alt="group of green watercolor trees">
            </span>
            <span class="beach-front" alt="yellow sand beach with green and blue water">
                <img src="../img/credits/beach-front.png" alt="group of green watercolor trees">
            </span>
        </span>
        <span class="whisper">
            <a href="http://www.leadourship.com/33356323/attributes.html">
	  	<div style="color: black;">view it again</div>
	  	<div style="color: black;">did you find any surprises?</div>
	    </a>
        </span>
        <span id="elements">
            <span id="crab-group" class="point" onclick="crab()">
                <div id="crab" class="crab">
                    <img src="../img/credits/crab.png" alt="red water color crab">
                </div>
                <div id="left-patch" class="left-patch sway">
                    <img src="../img/credits/left-patch.png" alt="green patch of bushes">
                </div>
            </span>
            <span id="manatee-group" class="point" onclick="manatee()">
                <div id="manatee" class="manatee">
                    <img src="../img/credits/manatee.png" alt="grey fat manatee">
                </div>
                <div id="beach-ball" class="beach-ball">
                    <img src="../img/credits/ball.png" alt="pink blue purple and white beach ball">
                </div>
            </span>
            <span id="coconut-group" class="point" onclick="coconut()">
                <div id="palm-tree" class="palm-tree sway">
                    <img src="../img/credits/palm-tree-right.png" alt="tall watercolor palm tree">
                </div>
                <div id="coconut" class="coconut">
                    <img src="../img/credits/coconut.png" alt="brown unopened coconut">
                </div>
            </span>
            <span id="whale-group" class="point" onclick="whale()">
                <div id="drink" class="drink">
                    <img src="../img/credits/pina-colada.png" alt="half a coconut filled with pina colada">
                </div>
                <div id="whale-body">
                    <div id="whale-tail" class="whale whale-tail"><img src="../img/credits/whale-tail.png" alt="large dark blue whale tail"></div>
                    <div id="whale-head" class="whale whale-head"><img src="../img/credits/whale-head.png" alt="large dark blue whale head"></div>
                </div>
            </span>
        </span>
    </div>
</div>

</body></html>
